@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

* {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-style: #000;
}

.image {
    position: relative;
    margin: 10px;
    transition: 0.5s;
}

.image:hover {
    transition: 0.5s;
}

.image img {
    width: 700px;
    display:flex;
    margin: auto;
}

.image1 {
    position: relative;
    margin: 100px;
    transition: 0.5s;
}

.image1:hover {
    transition: 0.5s;
}

.image1 img {
    width: auto;
    display:flex;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    
}

.container {
    background-image: linear-gradient(135deg, rgba(52, 152, 219,0.5)
     0%,rgba(133, 243, 8, 0.4) 100%),
     url("img/fly.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .ha1 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: "Calligraffitti";
    font-weight: normal;
    font-size: 200px;
    text-shadow: 2px 2px 4px #000000;
    transform: translate3d(-50%,-50%,0);
  }

  @media only screen and (max-width : 768px) {

    .ha1 {
      font-size: 3em;
    }
  }


header {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5FFFA;
    border-bottom: 7px solid #7FB5B5;
    margin: auto;
}

a {
    color: #000000;
}

.about {
    color: #fff;
    font-size: 50px;
    text-align: center;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding-top: 70px;
    padding-bottom: 200px;
    background-image: url(img/sea.jpg);
}

header a{
    position: relative;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    padding: 0 10px;
}

body {
    margin: 0px; 
    padding: 0px; 
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    color:#000000;
    background-color: #DCDCDC;
}

footer {
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    height: 200px;
    background-color: #E6E6FA;
}

.hat{
    position: relative;
  color: #000;
  text-decoration: none;
}
.hat:hover{
    color: #000;
}
.hat::before{
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.hat:hover::before{
    transform: scaleX(1);
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
}

.content a {
    color: #71B5B5;
    font-size: 50px;
    font-weight: 800;
}

.content p {
    color: #7FB5B5;
    font-size: 16px;
    font-weight: 400;
}

.contacts{
    font-size: 60px;
}

.btn{
    width: 492px;
    height: 115px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: 400;
    background: #715E5E;
    cursor: pointer;
    margin-top: 100px;
}

/* для back.php */
.form {
    position: relative;
    text-align: center;
    align-items: center;
}

.check-label {
    display: inline-block;
    color: #7FB5B5;
    font-size: 30px;
    font-weight: 400;
}

.check {
    display: inline-block;
    height: 60px;
    border: #7FB5B5;
    margin-bottom: 100px;
    transition: 0.5s;
}

.check:hover {
    box-shadow: 0 0 #E6E6FA;
}

.footer {
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    height: 200px;
    background-color: #E6E6FA;
}

.btn1{
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: 400;
    background: #715E5E;
    cursor: pointer;
    margin-top: 50px;
}